@font-face {
  font-family: "SFProDisplay";
  src: url("../../dist/fonts/");
  font-weight: 100;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../dist/fonts/SFProDisplay-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../dist/fonts/SFProDisplay-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../dist/fonts/SFProDisplay-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../dist/fonts/SFProDisplay-Semibold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../dist/fonts/SFProDisplay-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../dist/fonts/SFProDisplay-Heavy.woff");
  font-weight: 900;
}
