.footer {
  width: 100%;
  @include flex(center, center, row, nowrap);
  height: 60px;

  .logo-wrapper {
    margin-right: 21%;
  }

  .menu {
    @include flex(space-between, center, row, nowrap);
    width: 38%;
    .item {
      margin-right: 9.3%;
      .text {
        font-family: "SFProDisplay";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.8px;
        color: #000000;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    @include flex(center, center, row, wrap);
    width: 100%;
    .logo-wrapper {
      margin-right: 7%;
    }

    .menu {
      width: 85%;
      .item {
        .text {
          font-size: 14.5px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  footer {
    width: 100%;
    display: none;
    .footer {
      width: 85%;
      @include flex(flex-start, center, row, wrap);
      .logo-wrapper {
        .logo {
          font-size: 25px;
          margin-left: 0;
          letter-spacing: -1.5px;
        }
      }
      .menu {
        // display: none;
      }
    }
  }
}
