.risk-block {
  background-color: #d9e564;
  padding-bottom: 8.1%;
  .title {
    padding-top: 8.3%;
    margin-bottom: 7.5%;
    font-family: "SFProDisplay";
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    color: #000000;
  }
}

.grid-block {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "grid-item-1 grid-item-2 grid-item-3"
    "grid-item-4 grid-item-5 grid-item-6";

  .item-text {
    width: 84%;
    padding-top: 22px;
    font-family: "SFProDisplay";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #000000;
  }

  .grid-item-4,
  .grid-item-5,
  .grid-item-6 {
    padding-top: 41px;
  }
}
